.username-text{
    font-family: tahoma, sans-serif;
    font-size: medium;
    font-weight: 500;
}

.comment-text{
    font-family: tahoma,sans-serif;
    font-size: small;
    font-weight: 400;
}

.time{
    font-family: tahoma,sans-serif;
    font-size: xx-small;
    font-weight: 400;
}

.comment-group{
    /*border: 2px solid gray;*/
    padding: 5px;
    margin-bottom: 5px;
}
#scroll_bar{
    overflow-y: scroll;
    max-height: 20em;
}

.project-nav{
    border: 2px solid gray;
    padding: 2em;
}
.clear-fix{

}
.pDescription{
    font-family: tahoma;
    font-size: small;
}
.box{
    padding: 10px;
    font: tahoma;
    font-family: tahoma;
    font-size: small;
    font-weight: bold;
}