.first-row{
    margin-top: 4em;
}
.crimson{
    color: crimson;
}
.center-align{
    text-align: center;
}
.show-projects{
	border: 3px solid gray;
	padding: 20px;
}
.clear{
	height: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 2px solid gray;
	border-bottom: 2px solid black;
}
.text-editor{
	display: none;
}
.iframe{
	width: 30em;
	height: 10em;
}
.output-div{
	border: 1px solid gray;
}